.accessible-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.accessible-focusable:focus {
  width: auto;
  height: auto;
  clip: auto;
}
