/*
 * Typography
 */
html {
  font-size: 100%;

  @media (min-width: 840px + 100px) {
    font-size: 125%;
  }

  // @media (min-width: 960px + 100px) {
  //   font-size: 150%;
  // }
}

body {
  //font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;
}

h1, h2, h3, h4, h5, h6, .heading {
  //font-family: $heading-font-family;
  //font-weight: 800;
}

// 1.125 ratio
h1 {
  @include plumber(
  $font-size: 3.247,
  $leading-top: 3,
  $leading-bottom: 1,
  );
}

h2 {
  @include plumber(
  $font-size: 2.027,
  $leading-top: 3,
  $leading-bottom: 1,
  );
}

h3 {
  @include plumber(
  $font-size: 1.602,
  $leading-top: 2,
  $leading-bottom: 1,
  );
}

h4 {
  @include plumber(
  $font-size: 1.424,
  $leading-top: 3,
  $leading-bottom: 0,
  );
}

h5, h6 {
  @include plumber(
  $font-size: 1.266,
  $leading-top: 3,
  $leading-bottom: 0,
  );
}

p {
  @include plumber();
}

a {
  text-decoration: underline;
  color: $action-color;

  &:active, &:focus, &:hover {
    color: shade($action-color, 25%);
  }
}

ol, ul {
  @include plumber-box(
  $margin: 0 1,
  );
}

li {
  @include plumber(
  $leading-top: 0,
  $leading-bottom: 0,
  );
}

hr {
  border: none;
  margin: $base-spacing 0;
  overflow: visible;

  &:before {
    content: '';
    display: block;
    border-top: $base-border;
    margin-bottom: -$base-border-width;
  }
}

code, kbd, samp, pre {
  font-size: 0.75rem;
  line-height: 1rem;
}

pre {
  overflow: auto;
  margin: 0 -$base-spacing;
  padding: $base-spacing;

  @include plumber-box(
  $margin: 1 2,
  $padding: 2 2,
  );
}

blockquote {
  @include plumber-box(
  $margin: 1 2,
  $padding: 1 1,
  );

  border-left: $base-border;
  margin-left: calc(-#{$base-spacing} - #{$base-border-width});
  padding-left: $base-spacing;
}
