// Typography
$base-font-family: 'Lato';
$heading-font-family: 'Lato', sans-serif;

// Font Sizes
$base-font-size: 1rem;

// Line height
$vertical-grid-height: 0.75rem;
$base-line-height: 1.5;

//
$base-spacing: $vertical-grid-height * 2;
$large-spacing: $vertical-grid-height * 4;
$small-spacing: $base-spacing / 2;

@include plumber-set-defaults(
  $grid-height: $vertical-grid-height,
  $baseline: 0.1,
  $font-size: 24 / 18,
  $line-height: 2,
  //$leading-top: 0,
  $leading-bottom: 2,
);

// Other Sizes
$base-border-radius: 0;
$base-z-index: 0;

// Grid
$grid--mobile: (
  columns: 6,
  gutter: 10px,
);

$grid--tablet: (
  columns: 6,
  gutter: 10px,
  media: 560px,
);

$grid--desktop: (
  columns: 12,
  gutter: 20px,
  media: 1200px,
);

// Colors
$primary: rgb(216, 31, 2);
$lightest: rgb(250, 250, 250);
$light-gray: rgb(224, 224, 224);
$medium-gray: rgb(180, 183, 180);
$dark-gray: rgb(29, 31, 33);

// Base Colors
$base-text-color: $dark-gray;
$action-color: $primary;
$base-border-width: 1px;
$base-border-color: $light-gray;
$base-border: $base-border-width solid $base-border-color;
$base-background-color: #fff; //rgb(247, 247, 249);
$secondary-background-color: $lightest;

// Inverted Colors
$inverted-text-color: $lightest;
$inverted-action-color: lighten($primary, 20%);
$inverted-border-color: $lightest;
$inverted-border: $base-border-width solid $inverted-border-color;
$inverted-background-color: $dark-gray;

//
$base-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
