<!DOCTYPE html>
<html {{with .Site.LanguageCode}}lang="{{.}}"{{end}}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>
	{{- if .IsHome -}}
		{{ .Site.Title }}
	{{- else -}}
		{{ .Title }} &middot; {{ .Site.Title }}
	{{- end -}}
	</title>

	<base href="{{ .Permalink }}">

	<link rel="manifest" href="{{ "manifest.json" | absURL }}">
	<link rel="stylesheet" href="{{ "css/app.css" | absURL }}">

	<!-- Icons -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Analytics -->
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
</head>
<body>
	{{/*<a href="#start-of-content" class="accessible-only accessible-focusable">{{ i18n "skip_to_content" }}</a>*/}}

	<div class="page">
		{{ if ne .Kind "home" }}
		<div class="page__header">
			{{ partial "page/header" . }}
		</div>
		{{ end }}

		<div class="page__main">
			{{/*<div id="start-of-content" class="accessible-only"></div>*/}}
			{{ block "main" . }}{{ end }}
		</div>

		<div class="page__footer">
			{{ partial "page/footer" . }}
		</div>
	</div>

	<div class="toolbar">
		<button id="grid-toggle" onclick="toggleGrid()" class="button">Show Grid</button>
	</div>

	<!-- Site -->
	{{- if .Site.Params.mixHasManifest }}
	<script src="{{ "js/manifest.js" | absURL }}"></script>
	<script src="{{ "js/vendor.js" | absURL }}"></script>
	{{- end }}
	<script src="{{ "js/app.js" | absURL }}"></script>
</body>
</html>
