{{ define "main" }}
<div class="wrapper">
	<main class="section">
		{{ $paginator := .Paginate .Data.Pages }}
		{{ range $paginator.Pages }}
		<article>
			<header>
				<a href="{{ .Permalink }}"><h1>{{ .Title }}</h1></a>
				{{ partial "article/meta" . }}
			</header>
			{{ .Summary }}
		</article>
		{{ end }}
		{{ partial "pagination" . }}
	</main>
</div>
{{ end }}
