
<div class="section section--small">
	<div class="wrapper wrapper--fluid">
		<div class="row">
			<a href="{{ .Site.BaseURL }}" class="header__item header__item--title">
				{{ .Site.Title }}
			</a>
			{{/*{{- range .Site.Menus.main -}}
				<a href="{{ .URL }}" class="header__item">{{ .Name }}</a>
			{{- end -}}*/}}
		</div>
	</div>
</div>
