
<div class="page-nav_section">
	<ul class="nav">
		{{- range .Site.Menus.main -}}
		<li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
		{{- end -}}
	</ul>
</div>

<div class="page-nav_section">
	<ul class="nav">
		<li class="nav-item nav-item--parent">
			<a href="">Posts</a>

			<ul class="nav">
				{{ range first 4 (where .Data.Pages "Section" "post") }}
				<li class="nav-item"><a href="{{ .URL }}">{{ .Title }}</a></li>
				{{ end }}

				<li class="nav-item"><a href="">And {{ len (where .Data.Pages "Section" "post") }} more...</a></li>
			</ul>
		</li>
	</ul>
</div>

{{/*
<div class="page-nav_section">
	<ul class="nav">
		<li class="nav-item nav-item--parent">
			<span>Contact</span>

			<ul class="nav">
				<li class="nav-item"><a href="mailto:jack@jackflet.ch" target="_BLANK">jack@jackflet.ch</a></li>
				<li class="nav-item"><a href="https://github.com/kauhat" target="_BLANK">github.com/kauhat</a></li>
				<li class="nav-item"><a href="https://gitlab.com/kauhat" target="_BLANK">gitlab.com/kauhat</a></li>
				<li class="nav-item"><a href="https://keybase.io/kauhat" target="_BLANK">keybase.io/kauhat</a></li>
			</ul>
		</li>
	</ul>
</div>
*/}}
