{{ define "main" }}
<div class="section section--large">
	<div class="wrapper">
		<h1>Hi, I'm Jack</h1>

		<p>I'm a developer from the south west of England. You can contact me at <a href="mailto:jack@jackflet.ch" target="_BLANK">jack@jackflet.ch</a>.</p>

		<ul>
			<li><a href="https://github.com/kauhat" target="_BLANK">GitHub</a></li>
			<li><a href="https://gitlab.com/kauhat" target="_BLANK">GitLab</a></li>
		</ul>

		<h2>Posts</h2>
		<ul>
			{{- range (where .Pages "Type" "post").GroupByDate "2006" }}
			<li>
				<span>{{ .Key }}</span>
				<ul class="list-unstyled">
					{{- range .Pages.GroupByDate "January" }}
					<li class="articlelist__group">
						<span class="articlelist__group__title">{{ .Key }}</span>
						<ul class="articlelist__group__articles">
							{{- range .Pages }}
							<li>
								<a href="{{ .Permalink }}">{{ .Title }}</a>
							</li>
							{{- end }}
						</ul>
					</li>
					{{- end }}
				</ul>
			</li>
			{{- end }}
		</ul>
	</div>
</div>
{{ end }}
