/*
 * Development grid
 */
.grid {
  position: relative;
}

.grid:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(242, 201, 76, 0.5) 0, rgba(242, 201, 76, 0.5) 1px, transparent 1px);
  background-size: 100% $vertical-grid-height;
  pointer-events: none;
}
