/*
 * Article
 */
.article__header {
  margin-bottom: $base-spacing;
}

.article__title {
  @include plumber(
  $font-size: 3.247,
  $leading-top: 3,
  $leading-bottom: 1,
  $line-height: 3,
  );
}

.article__subtitle {
  @include plumber(
  $font-size:  1.802,
  $leading-bottom: 1,
  );
}

.article__meta {
  color: $medium-gray;
}

.article__main > p {
  max-width: 34rem;
}

.articlelist {
  padding: 0;
}

.articlelist__group {
  display: flex;
}

.articlelist__group__title {
  min-width: 20%;
}

.articlelist__group__articles {
  flex: 1 1;
  list-style: none;
}

.categories {
  //font-weight: bold;
}

.tags {
  font-style: italic;
}
