/*
 * Button
 */
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'],
.button {
  display: inline-block;
  background-color: $action-color;
  background-image: linear-gradient(to bottom, $action-color, adjust-hue($action-color, -20));
  color: $lightest;
  box-shadow: $base-shadow;
  border-radius: $base-border-radius;
  border: 0;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  cursor: default;
  transition: all 0.22s;
  font-family: inherit;

  &:hover {
    background-image: linear-gradient(to bottom, adjust-hue($action-color, 20), adjust-hue($action-color, 0));
    transform: translateY(-2px);
  }

  // .inverted & {
  //   color: $lightest;
  //   background: transparent;
  //   border: 2px solid $lightest;
  //   padding: calc(0.5rem - 2px) calc(1.25rem - 2px);
  // }
}
