/*
 * Navigation
 */
.nav {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item > a,
.nav-item > span {
  display: block;
  font-weight: bold;

  @include plumber(
  $font-size: 1.5,
  $leading-top: 0
  );
}

.nav-item a {
  color: $primary;
}

.nav-item span {
  //color: shade($primary, 10%);
}

.nav-item--parent .nav {
  //border-top: 1px solid $base-border-color;
  //margin-top: -1px;
}

.nav-item--parent .nav-item > a,
.nav-item--parent .nav-item > span {
  @include plumber(
  $font-size: 1.25,
  $leading-top: 0,
  $leading-bottom: 0
  );
}

.col {
  @include grid-column(12);
}
