/*
 * Panel
 */
.example {
  background: lighten($secondary-background-color, 2%);
  border-radius: $base-border-radius;
  padding: 0 2rem;
  overflow: hidden;

  &:before {
    content: '';
    margin: 0 -2rem;
    margin-bottom: 2rem;
    display: block;
    height: 2rem;
    background: $secondary-background-color;
  }

  &:after {
    content: '';
    height: 0px;
    margin-top: 2rem;
    display: block;
  }
}
