/*
 * Row
 */
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include grid-media($grid--tablet) {
    flex-direction: row;
  }

  &--grid {
    @include grid-collapse;

    @include grid-media($grid--tablet) {
      @include grid-collapse($grid--tablet);
    }

    @include grid-media($grid--desktop) {
      @include grid-collapse($grid--desktop);
    }

    flex-direction: row;
  }

  &--center {
    justify-content: center;
  }

  &--justify {
    justify-content: space-between;
  }
}
