/*
 * Wrapper
 */
.wrapper {
  max-width: none;
  margin: auto;
  padding: 0 $base-spacing;

  @media (min-width: 840px + 64px) {
    max-width: 840px;
    margin-left: 0;
  }

  @media (min-width: 960px + 100px) {
    max-width: 960px;
  }

  @media (min-width: 68rem + ($large-spacing * 2)) {
    max-width: 68rem;
    padding: 0 $large-spacing;
  }
}

.wrapper--fluid {
  max-width: none;
}
