/*
 * Root page layout
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  background-color: $base-background-color;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page__header {
  overflow: auto;
}

.page__main {
  // Fill height
  flex: 1;

  // Center contents
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__footer {
}
