/*
 * Header
 */
.page__header {
  border-bottom: $base-border;
  margin-bottom: -($base-border-width);
  background-color: $secondary-background-color;
}

.header__item {
  // @include plumber(
  // $font-size: 1,
  // $leading-top: 2,
  // $leading-bottom: 0
  // );
  //margin-left: $small-spacing;
}

.header__item:first-child {
  //margin-left: auto;
}

.header__item--title {
  // @include plumber(
  // $font-size: 2,
  // $leading-top: 0,
  // $leading-bottom: 0
  // );

  margin-left: auto;
  margin-right: 0;

  color: $base-text-color;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
