<article class="article">
	<header class="article__header">
		<h1 class="article__title">{{ .Title }}</h1>
		{{ if .Params.Subtitle }}
		<p class="article__subtitle heading">{{ .Params.Subtitle }}</p>
		{{ end }}
		{{ partial "article/meta" . }}
	</header>

	<div class="article__main">
		{{ .Content }}
	</div>

	<footer class="article__footer">
	</footer>
</article>
