<div class="article__meta">
	{{ if not .Date.IsZero -}}
	<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
	{{- end }}

	<!--{{ if .Params.categories -}}
	&middot;
	<ul class="categories list-unstyled list-inline list-inline-comma">
		{{ range sort .Params.categories "value" "asc" -}}
		<li class="categories__item">
			<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		</li>
		{{- end }}
	</ul>
	{{- end }}

	{{ if .Params.tags -}}
	&middot;
	<ul class="tags list-unstyled list-inline list-inline-comma">
		{{ range sort .Params.tags "value" "asc" -}}
		<li class="tags__item">
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		</li>
		{{- end }}
	</ul>
	{{- end }}-->
</div>
